@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');



#capa-inicio {
  top: 0;
  left: 7%;
  position: fixed;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  background:#002e68;
  overflow: hidden;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: auto;
  transition: opacity 0.5s ease;
}
#capa-inicio-fondo {
  top: 0;
  left: 0;
  position: initial;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  background: #002e68;
  color: #002e68;
  transition: opacity 0,4s ease;
}

svg {
  width:100%;
  height:100vh;
  background: #002e68;
}

.capa-fondo {
display: block !important;
}

.capa-oculta {
  display: none !important;
}

/* Clase para mostrar el contenido principal */
.contenido-visible {
  display: block !important;
}